<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-hotel-search-sidebar [search]="search"></app-hotel-search-sidebar>
    </div>
    <div class="col-md-9">
      <div *ngFor="let hotel of hotels">
        <app-hotel-card [hotel]="hotel" ></app-hotel-card>

      </div>
    </div>
  </div>


</div>
