<div class="d-flex">
  <button class="collapse-control btn-block d-flex justify-content-between" type="button" (click)="isCollapsed = !isCollapsed">
    <div class="almundo-heading">
      <span class="almundo almundo-search"></span>
      Nombre del hotel
    </div>

    <span class="arrow-up" *ngIf="!isCollapsed"></span>
    <span class="arrow-down" *ngIf="isCollapsed"></span>
  </button>
</div>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
  <div class="d-flex">
    <input class="form-control mr-1" #searchInput type="text" name="" value="" placeholder="Ingrese el nombre del hotel">
    <button class="btn btn-primary btn-almundo" (click)="search(searchInput.value)">Aceptar</button>
  </div>
</div>
