@font-face {
  font-family: 'almundo';
  src:  url('almundo.eot?wrkh2t');
  src:  url('almundo.eot?wrkh2t#iefix') format('embedded-opentype'),
    url('almundo.ttf?wrkh2t') format('truetype'),
    url('almundo.woff?wrkh2t') format('woff'),
    url('almundo.svg?wrkh2t#almundo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.almundo {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'almundo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.almundo-star:before {
  content: "\e900";
}
.almundo-search:before {
  content: "\e901";
}
.almundo-bathtub:before {
  content: "\e902";
  color: #595858;
}
.almundo-deep-soaking-bathtub:before {
  content: "\e903";
  color: #595858;
}
.almundo-safety-box:before {
  content: "\e904";
  color: #59595c;
}
.almundo-business-center:before {
  content: "\e905";
  color: #595858;
}
.almundo-fitness-center:before {
  content: "\e906";
  color: #5a5a5d;
}
.almundo-separate-bredroom:before {
  content: "\e907";
  color: #595858;
}
.almundo-nightclub:before {
  content: "\e908";
  color: #59595c;
}
.almundo-beach:before {
  content: "\e909";
  color: #595858;
}
.almundo-restaurant:before {
  content: "\e90a";
  color: #595858;
}
.almundo-garden:before {
  content: "\e90b";
  color: #595858;
}
.almundo-sheets:before {
  content: "\e90c";
  color: #59595c;
}
.almundo-kitchen-facilities:before {
  content: "\e90d";
  color: #595858;
}
.almundo-children-club:before {
  content: "\e90e";
  color: #595858;
}
.almundo-newspaper:before {
  content: "\e90f";
  color: #595858;
}
.almundo-coffe-maker:before {
  content: "\e910";
  color: #595858;
}
.almundo-beach-pool-facilities:before {
  content: "\e911";
  color: #595858;
}
.almundo-bathrobes:before {
  content: "\e912";
  color: #59595c;
}
.arrow-up:before {
  content: "\25b2";
  color: #157ab1;
}
.arrow-down:before {
  content: "\25bc";
  color: #157ab1;
}
