<div class="py-2">
  <h3 class="almundo-heading">
    {{hotel.name}}
  </h3>
  <rating class="stars" [(ngModel)]="hotel.stars" [max]="hotel.stars" [readonly]="true" [customTemplate]="almundoStars"></rating>
  <ng-template #almundoStars let-index="index">
    <span class="almundo almundo-star"></span>
  </ng-template>

  <div class="d-flex amenities my-3" >
    <span *ngFor="let amenity of hotel.amenities" ngClass="almundo almundo-{{amenity}} px-1" title={{amenity}}></span>
  </div>
</div>
