<span class="py-2 px-md-5 d-flex flex-column justify-content-center">
  <p class="pricing-info">Precio por noche por habitación</p>
  <h1 class="almndo-accent"><small>ARS</small> {{hotel.price}}</h1>
  <a class="btn btn-primary btn-almundo" href="#">Ver Hotel</a>
</span>
