<div class="card py-2 mb-3">
  <div class="card-block">
    <div class="col">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 px-2 pl-md-2">
              <img class="img-fluid" alt="" src="../../../assets/images/hotels/{{hotel.image}}">
            </div>
            <div class="col-md-8">
              <app-hotel-info [hotel]="hotel"></app-hotel-info>
            </div>
          </div>
        </div>
        <div class="col-md-3 hotel-cta-container d-flex align-items-center justify-content-center text-center">
          <app-hotel-cta [hotel]="hotel"></app-hotel-cta>
        </div>
      </div>
    </div>
  </div>
</div>
