<div class="d-flex">
  <button class="collapse-control btn-block d-flex justify-content-between" type="button" (click)="isCollapsed = !isCollapsed">
    <div class="almundo-heading">
      <span class="almundo almundo-star"></span>
      Estrellas
    </div>

    <span class="arrow-up" *ngIf="!isCollapsed"></span>
    <span class="arrow-down" *ngIf="isCollapsed"></span>
  </button>
</div>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
  <input type="checkbox" [checked]="selectedStars['all']" (change)="onChangeStar('all')" class="font-weight-bold"> Todas las estrellas

  <div *ngFor='let typeStar of allStars'>
      <input type="checkbox" [checked]="selectedStars[typeStar]" (change)="onChangeStar(typeStar)">

      <rating class="stars sidebar-stars" [ngModel]="typeStar" [max]="typeStar" [readonly]="true" (onclick)="onChangeStar(typeStar)" [customTemplate]="almundoStars"></rating>
        <ng-template #almundoStars let-index="index">
          <span class="almundo almundo-star"></span>
        </ng-template>
  </div>
</div>

