<div class="card mb-2" [ngClass]="{'mobile-filter-container': isMobile}">
  <div class="card-block">
    <button class="filter-section collapse-control btn-block d-md-flex justify-content-between" (click)="isCollapsed = !isCollapsed">
      <h5 class="card-title mb-0" *ngIf="!isMobile">Filtros</h5>
      <h5 *ngIf="isMobile" class="mobile-filter-header almundo-heading">Filtrar
        <span class="arrow-up" *ngIf="!isCollapsed && isMobile"></span>
        <span class="arrow-down" *ngIf="isCollapsed && isMobile"></span>

      </h5>
    </button>
    <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
      <div class="filter-section">
        <app-name-filter  [search]="searchByName"></app-name-filter>
      </div>
      <div class="filter-section">
        <app-stars-filter [search]="searchByStars"></app-stars-filter>
      </div>
    </div>
  </div>
</div>
