/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f4f4f4;
}

.btn-almundo {
  font-weight: bold;
  background-color: #002c77;
}

.almundo-heading {
  font-weight: bold;
  color: #157ab1;
}

.almndo-accent {
  color: #df6800;
}

.stars {
  color: #fdba12;
  font-size: 1.5em;
}
.stars.sidebar-stars {
  font-size: 1em;
}

.collapse-control {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1em 0;
}
.collapse-control:focus {
  outline: none;
}

